@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 2.2em;
    text-align: center;
  
    border: 2px solid #ffffff;
    box-sizing: border-box;
    background-color: rgba(87, 209, 209, 0.8);
    color: #eeeeee;

    max-width: 600px;
    height: auto;
    margin: 100px auto 180px auto;
    padding: 30px;

    position: relative;    
}

.title .bracket {
    font-size: 1.2em;
    color: #26fdfd;
}

.navigation {
    width: 80%;
    margin: auto;
    padding: 0px 0em;
    
    font-family: 'Roboto Slab', serif;

    overflow: hidden;
    background-color: #333333;
}

.navigation a {
    padding: 14px 16px;
	
    font-size: 17px;
	text-align: center;
	text-decoration: none;
    
    float: left;
    color: #e1e1e1; 
 }

.navigation a:hover {
    background-color: #73deff;
    color: black;
}

.navigation a.active {
    background-color: #00caca;
    color: white;
}

body {
    background-image: url("../images/banner.png");
    background-position: 0px 0px;
    background-size: 65%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main { 
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    text-align: justify;

    width: 80%;
    margin: auto;
    background-color: #f4f4f4;
}

.main .container       { padding: 20px 20px 10px 20px }
.main .container p, h3 { padding: 10px 0px 20px 0px }
.main .container h2    { padding-top: 20px }
.main .container ul    { padding-left: 30px }

.main .container .imageRight {
    float: right;
    margin: 20px;
}

.main .container .imageLeft {
    float: left;
    margin: 20px;
}

.main .container .imageRight,.imageLeft p {
    width: 209px;
    font-size: 0.76em;
}
    
a.source {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: #213999;
}

footer {
    background-color: #333333;
   
    width: 80%;
    margin: 15px auto 15px auto;
}

footer .info {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 0.8em;
    color: #e1e1e1;

    padding: 10px 10px;
}