@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
    margin: 0;
    padding: 0;
}

/*
https://material.io/tools/color/#!/?view.left=0&view.right=1&primary.color=1e1e1e&secondary.color=bfa000
*/

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 2.2em;
    text-align: center;
  
    border: 2px solid #ffffff;
    box-sizing: border-box;
    background-color: rgba(255,160,0, 0.8);
    color: #eeeeee;

    max-width: 600px;
    height: auto;
    margin: 100px auto 180px auto;
    padding: 30px;

    position: relative;    
}

.navigation {
    width: 80%;
    margin: auto;
    padding: 0px 0em;
    
    font-family: 'Roboto Slab', serif;

    overflow: hidden;
    background-color: #333333;
}

.navigation a {
    padding: 14px 16px;
	
    font-size: 17px;
	text-align: center;
	text-decoration: none;
    
    float: left;
    color: #e1e1e1; 

	transition-timing-function: ease-in-out;
	-webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
 }

.navigation a:hover {
    background-color: #ffd149;
    color: black;
}

.navigation a.active {
    background-color: #ffa000;
    color: white;
}

body {
    background-image: url("../images/banner.png");
    background-position: 0px 0px;
    background-size: 65%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main { 
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    text-align: justify;

    width: 80%;
    margin: auto;
    background-color: #f4f4f4;
}

.main p {
	padding: 20px;
}