@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 6.5vh;
    text-align: center;
  
    border: 2px solid #ffffff;
    box-sizing: border-box;
    background-color: rgba(87, 209, 209, 0.8);
    color: #eeeeee;

    max-width: 50vw;
    height: auto;
    margin: 100px auto 180px auto;
    padding: 30px;

    position: relative;    
}

.title .bracket {
    font-size: 6.5vh;
    color: #ccccff;
}

.navigation {
    width: 80%;
    margin: auto;
    padding: 0px 0em;
    
    font-family: 'Roboto Slab', serif;

    overflow: hidden;
    background-color: #333333;
}

.navigation a {
    padding: 14px 16px;
    
    font-size: 2.2vh;
	text-align: center;
	text-decoration: none;
    
    float: left;
    color: #e1e1e1; 
 }

.navigation a:hover {
    background-color: #5ec3e2;
    color: black;
}

.navigation a.active {
    background-color: #00caca;
    color: white;
}

body {
    background-image: url("../images/banner.png");
    background-position: 0px 0px;
    background-size: 45%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main { 
    font-family: 'Roboto Slab', serif;
    font-size: 2.5vh;
    text-align: justify;

    width: 80%;
    margin: auto;
    background-color: #f4f4f4;
}

.container       { padding: 20px 20px 10px 20px }
.container p, h3 { padding: 10px 0px 20px 0px }
.container h2    { padding-top: 20px }
.container ul    { padding-left: 30px }

.container .image { margin: 20px 20px 0px 0px; }
.container .image img {
    margin: 10px 10px 0px 20px;
}

.container .image p {
    margin: 0px 0px 10px 20px;
    font-size: 2.1vh;
}

a.source {
    font-size: 2.8vh;
    font-weight: 500;
    text-decoration: none;
    color: #213999;
}

footer {
    background-color: #333333;
   
    width: 80%;
    margin: 15px auto 15px auto;
}

footer .info {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2.3vh;
    color: #e1e1e1;

    padding: 10px 10px;
}